.overlay {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0; left: 0; right: 0; bottom: 0;
    width: 100%;
    height: 100vh;
    margin: auto; /* zentriert das Overlay */
    background-color: rgba(0, 0, 0, 0.543);
    z-index: 9999;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 16px; /* Optional, macht die Ecken weicher */
    box-shadow: 0 8px 32px rgba(0,0,0,0.35); /* Optional, gibt einen schönen Schatten */
    overflow-y: auto;
}

.overlay-card {
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(255, 253, 253, 0.4);
    padding: 16px;
    margin: 12px;
    width: auto;
    max-width: 600px;
    max-height: 90vh;
    overflow-y: auto;
    color: white;
    /* oder eine Höhe deiner Wahl */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    z-index: 10000;
    /* Animation vorbereiten */
    position: relative;
}

.overlay-card h2 {
    text-transform: capitalize;
    display: flex;
    justify-content: center;
    gap: 30px;
}

.overlay-card img {
    max-width: 200px;
    max-height: 200px;
    filter: drop-shadow(3px 5px 2px rgba(0, 0, 0, 0.4));
}

.detail-infos{
    display: flex;
    justify-content: center;
    gap: 20px;
}

.poke-image{
    display: flex;
    justify-content: space-around;
    align-items: center;
}


.next-btn {
    background-color: #ffcb05;
    color: #2a75bb;
    border: none;
    padding: 12px 24px;
    border-radius: 8px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    transition: background-color 0.3s, transform 0.2s;
    margin: 8px;
}

.next-btn:hover {
    background-color: #ffdb4d;
    transform: scale(1.05);
}


.close-btn {
    position: absolute;
    top: 16px;
    right: 16px;
    background-color: #ffcb05;
    color: #2a75bb;
    border: none;
    padding: 8px 16px;
    border-radius: 50%;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    transition: background-color 0.3s, transform 0.2s;
    z-index: 10001;
}

.close-btn:hover {
    background-color: #ffdb4d;
    transform: scale(1.1);
}



@media (max-width: 430px){
    .overlay-card img {
    max-width: 100px;
    max-height: 100px;
    filter: drop-shadow(3px 5px 2px rgba(0, 0, 0, 0.4));
}
    .next-btn{
        font-size: 16px;
        padding: 8px 12px;
    }
}